## 6610450951 Tontawan Janthai

## 1

In [1]:
import pandas as pd
df = pd.read_csv('italy_earthquakes_from_2016-08-24_to_2016-11-30.csv')
df

                         Time  Latitude  Longitude  Depth/Km  Magnitude
0     2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
1     2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2     2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
3     2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
4     2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                       ...       ...        ...       ...        ...
8081  2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
8082  2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
8083  2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
8084  2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
8085  2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 5 columns]

## 2

In [2]:
df['Timestamp'] = pd.to_datetime(df.Time)
df.set_index('Timestamp', inplace=True)
df.drop('Time', axis='columns', inplace=True)
df.sort_index(inplace=True)
df

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

[8086 rows x 4 columns]

## 3

In [3]:
df[df.Magnitude==df.Magnitude.max()]

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5

## 4

In [4]:
df.loc['2016-10-30'].shape[0]

389

# 5

In [5]:
df.loc['2016-10-30 7:00': '2016-10-30 9:00']

                         Latitude  Longitude  Depth/Km  Magnitude
Timestamp
2016-10-30 07:01:14.060   42.8522    13.2443       8.9        2.4
2016-10-30 07:02:48.160   42.8538    13.2342       8.3        2.5
2016-10-30 07:14:48.470   42.8737    13.1502       9.2        2.4
2016-10-30 07:31:51.660   42.8753    13.0563       9.9        2.2
2016-10-30 08:04:07.760   42.7907    13.0872      10.2        2.4
2016-10-30 08:16:28.780   43.0622    13.0683       8.7        2.1
2016-10-30 08:31:19.890   42.9268    13.0287      10.8        2.0
2016-10-30 08:40:17.360   42.8322    13.1107       9.2        6.5
2016-10-30 08:41:17.010   42.7720    13.1358       9.3        4.3
2016-10-30 08:42:27.470   42.8795    13.0562       9.6        3.9
2016-10-30 08:43:08.810   42.7668    13.1383       9.7        4.0
2016-10-30 08:43:46.260   42.9000    13.1455       6.7        3.5
2016-10-30 08:44:30.670   42.8548    13.0853       8.3        4.6
2016-10-30 08:47:05.430   42.7868    13.1655       5.8        3.4
2016-10-30 08:48:27.160   42.7825    13.1632      10.8        3.8
2016-10-30 08:48:52.710   42.6828    13.2003      10.1        3.9
2016-10-30 08:50:43.710   42.8068    13.1952      10.5        3.6
2016-10-30 08:51:14.270   42.8925    13.0782       9.1        3.7
2016-10-30 08:51:55.240   42.7828    13.1332      10.1        3.8
2016-10-30 08:53:12.820   42.8090    13.0830      10.1        3.4
2016-10-30 08:53:54.740   42.7692    13.1643      10.8        3.2
2016-10-30 08:54:46.760   42.7958    13.2090      11.3        2.8
2016-10-30 08:55:41.060   42.7122    13.1968      10.8        4.1
2016-10-30 08:55:54.210   42.7508    13.2307      10.9        4.1
2016-10-30 08:56:05.780   42.7993    13.1077      10.5        4.2
2016-10-30 08:56:38.110   42.8437    13.1453       9.7        3.5
2016-10-30 08:57:21.560   42.8607    13.0922       9.5        3.8
2016-10-30 08:58:02.960   42.9078    13.1008       7.3        3.5
2016-10-30 08:59:31.500   42.8517    13.2118       9.9        3.9
2016-10-30 08:59:45.430   42.8235    13.1828      12.7        3.6
2016-10-30 09:00:40.250   42.8758    13.0530       9.9        4.1
2016-10-30 09:00:53.760   42.8343    13.0733       9.1        3.5

# 6

In [6]:
# Sort by Magnitude decending order
df.sort_values('Magnitude') 

# Calculate time diff
time_difference = df.index[1] - df.index[0]

print(time_difference)

0 days 00:00:54.580000

# 7

In [7]:
df['time_difference'] = df.index.to_series().diff()

print(df)

                         Latitude  Longitude  Depth/Km  Magnitude  \
Timestamp
2016-08-24 03:36:32.000   42.6983    13.2335       8.1        6.0
2016-08-24 03:37:26.580   42.7123    13.2533       9.0        4.5
2016-08-24 03:40:46.590   42.7647    13.1723       9.7        3.8
2016-08-24 03:41:38.900   42.7803    13.1683       9.7        3.9
2016-08-24 03:42:07.170   42.7798    13.1575       9.7        3.6
...                           ...        ...       ...        ...
2016-11-30 18:39:27.600   42.8903    13.0197      10.7        2.0
2016-11-30 18:43:14.850   42.9443    13.2003       8.6        2.6
2016-11-30 20:18:27.550   43.0092    13.1288       8.0        2.2
2016-11-30 20:45:11.780   43.0197    13.1017       9.3        2.7
2016-11-30 20:54:35.890   42.9935    13.0753       9.5        2.3

                               time_difference
Timestamp
2016-08-24 03:36:32.000                    NaT
2016-08-24 03:37:26.580 0 days 00:00:54.580000
2016-08-24 03:40:46.590 0 days 00:03:20.010000
2016-08-24 03:41:38.900 0 days 00:00:52.310000
2016-08-24 03:42:07.170 0 days 00:00:28.270000
...                                        ...
2016-11-30 18:39:27.600 0 days 00:30:10.680000
2016-11-30 18:43:14.850 0 days 00:03:47.250000
2016-11-30 20:18:27.550 0 days 01:35:12.700000
2016-11-30 20:45:11.780 0 days 00:26:44.230000
2016-11-30 20:54:35.890 0 days 00:09:24.110000

[8086 rows x 5 columns]

# 8

In [8]:
daliy_pandinwhai = df.resample('D').size().to_period()
daliy_pandinwhai

Timestamp
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

# 9

In [9]:
hourly_counts = df.resample('h').size()
num_empty_periods = len(hourly_counts[hourly_counts == 0])
num_empty_periods

759

# 10

In [10]:
minutely_counts = df.resample('min').size()

max_count_period = minutely_counts.idxmax()
max_count_value = minutely_counts.max()

print(f"Period: {max_count_period}")
print(f"Maximum count value: {max_count_value}")

Period: 2016-08-24 06:14:00
Maximum count value: 4

# 11

In [11]:
df['time_diff'] = df.index.to_series().diff()

max_gap = df['time_diff'].max()
max_gap

Timedelta('0 days 16:46:16.250000')

# 12

In [12]:
end = df['time_diff'].idxmax()
start = end - max_gap
print(f"{start} to {end}")

2016-10-25 03:13:54.230000 to 2016-10-25 20:00:10.480000

# 13

In [13]:
df['prev_diff'] = df['Magnitude'] - df['Magnitude'].shift(1)
df['next_diff'] = df['Magnitude'] - df['Magnitude'].shift(-1)

df['is_strong'] = (df['prev_diff'] >= 2.0) & (df['next_diff'] >= 2.0)

strong_earthquakes = df[df['is_strong']]
strong_earthquakes

,Latitude,Longitude,Depth/Km,Magnitude,time_difference,time_diff,prev_diff,next_diff,is_strong
Timestamp,,,,,,,,,
2016-08-24 04:33:28.890,42.7922,13.1507,8.0,5.4,0 days 00:00:59.880000,0 days 00:00:59.880000,2.9,2.6,True
2016-10-26 19:10:36.340,42.8802,13.1275,8.7,5.4,0 days 00:15:36.850000,0 days 00:15:36.850000,3.3,2.8,True
2016-10-26 21:18:05.850,42.9087,13.1288,7.5,5.9,0 days 00:04:42.570000,0 days 00:04:42.570000,3.7,2.3,True
2016-10-30 08:40:17.360,42.8322,13.1107,9.2,6.5,0 days 00:08:57.470000,0 days 00:08:57.470000,4.5,2.2,True
2016-11-29 18:14:02.690,42.5293,13.2803,11.1,4.4,0 days 00:16:18.680000,0 days 00:16:18.680000,2.0,2.0,True

# 14

In [37]:
hourly_counts = df.resample('h').size()
hourly_counts

Timestamp
2016-08-24 03:00:00    19
2016-08-24 04:00:00    61
2016-08-24 05:00:00    72
2016-08-24 06:00:00    55
2016-08-24 07:00:00    54
                       ..
2016-11-30 16:00:00     2
2016-11-30 17:00:00     3
2016-11-30 18:00:00     3
2016-11-30 19:00:00     0
2016-11-30 20:00:00     3
Freq: h, Length: 2370, dtype: int64

# 15

In [15]:
twentyfour_format = df.resample('D').size()
twentyfour_format

Timestamp
2016-08-24    508
2016-08-25    240
2016-08-26    212
2016-08-27    140
2016-08-28    110
             ...
2016-11-26     41
2016-11-27     73
2016-11-28     82
2016-11-29     93
2016-11-30     47
Freq: D, Length: 99, dtype: int64

# 16

In [17]:
daily_max_magnitude = df.resample('D')['Magnitude'].max()
rolling_avg_3_days = daily_max_magnitude.rolling(window=3).mean()

print(rolling_avg_3_days)

Timestamp
2016-08-24         NaN
2016-08-25         NaN
2016-08-26    5.066667
2016-08-27    4.400000
2016-08-28    4.333333
                ...
2016-11-26    3.066667
2016-11-27    3.400000
2016-11-28    3.566667
2016-11-29    3.966667
2016-11-30    3.700000
Freq: D, Name: Magnitude, Length: 99, dtype: float64